<launch>
  <node name="joystick_bwi" pkg="joystick_bwi" type="cartesian_joystick" output="screen" />
  <node name="joy" pkg="joy" type="joy_node" />
  <node name="speak_message_service" pkg="bwi_services" type="speak_message_service" >
     <param name="speed" value="160" type="int" />
     <param name="voice" value="default" type="str" />
     <param name="pitch" value="50" type="int" />
  </node>
</launch>
  




